<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta content="width=device-width, initial-scale=1" name="viewport" />
<title>Day Tracker</title>
<link rel="stylesheet" href="/css/index.css">
</head>
<body>
	<div class="main_container">
		<div class="header_container">
			<h1>Day Tracker</h1>
			<form action="/logout" method="post">
			    <button type="submit" class="form_btn_logout">Logout</button>
			</form>
		</div>
		<div class="date_container">
			<h3>Date: <span id="date_id"></span></h3>
		</div>
		<div class="tasks_container">
			<h2>Welcome, <strong th:text = "${username}">User</strong></h2>
			<h2>Task Checklist</h2>
			<ul th:each="task: ${taskList}">
	          <li th:id="${task.taskId}">
	            <input
	              th:type="checkbox"
	              th:checked="${task.checked}"
	              th:value="${task.taskName}"
	              onchange="taskChecked(this)"
	            />
	            <p th:classappend = "${task.checked} ? strikethrough : testclass" th:id=" ${task.taskName}" th:text="${task.taskName}">taskName</p>
	          </li>
	        </ul>
		</div>
		<div class="btns_container">
			<button class="addTaskBtn" onclick="location.href='/addTask'">Add Task</button>
			<button class="removeTaskBtn" onclick="location.href='/removeTask'">Remove Task</button>
		</div>
	</div>	
</body>
<script type="text/javascript" src="/js/index.js"></script>
</html>